body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

input {
    width: 70%;
}

.navbar-custom {
    background-color: #87CEEB;
    color: white;
}

.wrapper {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    background-color: #333;
    color: white;
    width: 250px;
    display: flex;
    flex-direction: column;
}

    .sidebar a {
        color: white;
        padding: 10px;
        text-decoration: none;
    }

        .sidebar a:hover {
            background-color: #575757;
        }

.content {
    padding: 1rem;
    flex-grow: 1;
}

.user-info {
    background-color: #CDD9FE;
    padding: 10px;
    color: black;
}

    .user-info p {
        margin: 0;
    }

.navbar-nav .nav-item p.nav-link {
    margin: 0;
    color: white;
    text-decoration: none;
    display: block;
}

.navbar-nav .nav-item button.nav-link {
    margin: 0;
    color: white;
    text-decoration: none;
    display: block;
}

    .navbar-nav .nav-item button.nav-link:hover {
        background-color: rgba(255, 255, 255, 0.1);
        color: white;
    }
